in order to run the code you need to install the following in the following order:
Note: the order is important and the image files should be in the same path of solution's path
1. pip install  opencv-python==3.4.2.16
2. pip install  opencv-contrib-python==3.4.2.16
3. pip install numpy
